.SyntaxGenerator {
  width: 95%;
  margin: 0 auto;
  margin-top: 2rem;
}

.SyntaxGenerator .list-items {
    width: max-content;
    padding-right: 0.7rem;
    height:calc(800px);
    overflow-y: scroll;
}

.SyntaxGenerator .list-items::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.SyntaxGenerator .list-items::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.SyntaxGenerator .list-items:hover::-webkit-scrollbar-thumb {
  background: rgb(202, 199, 199);
  border-radius: 10px;
}


.SyntaxGenerator ul > li {
  width: 20vh;
  border: 2px solid black;
  margin-bottom: 1rem;
  padding: 0.2rem 0;
  padding-left: 0.5rem;
  border-radius: 0.4rem;
  transition: all 300ms ease;
}

.SyntaxGenerator ul > li:hover {
  transform: scale(1.08);
  cursor: pointer;
  background-color: black;
  color: white;
}
